<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Doktora Sor - Ana Sayfa</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <script src="~/Content/assets/vendors/general/fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
    <link href="~/Content/assets/vendors/general/fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
</head>
<body>

    <header id="header" class="fixed-top  header-transparent ">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="/Home/Index">Doktora Sor ?</a></h1>

                <a href="/Home/Index"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/Home/Index">Ana Sayfa</a></li>
                    <li><a class="nav-link scrollto" href="#features">Özellikler</a></li>
                    <li><a class="nav-link scrollto" href="#gallery">Galeri</a></li>
                    <li><a class="nav-link scrollto" href="#pricing">Fiyatlandırma</a></li>
                    <li><a class="nav-link scrollto" href="#faq">S.S.S.</a></li>
                    <li><a class="nav-link scrollto" href="/Home/Blog"><span>Blog</span></a></li>
                    <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
                    <li><a class="getstarted scrollto" href="/Home/Login"><span>Giriş Yap</span></a>
                        
                    </li>
                    <li class="dropdown">
                        <a class="getstarted scrollto" href=""><span>Kayıt Ol</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Home/RegisterDoctor">Doktor Kayıt</a></li>
                            <li><a href="/Home/RegisterPatient">Hasta Kayıt</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>


    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                    <div>
                        <h1>Doktora Sor ? <br />Mobil & Web Uygulaması </h1>
                        <h2>Tüm sorularınızın cevabı bir mesaj kadar uzağınızda. Google play store ve app store uygulama mağazasından uygulamanın mobil versiyonlarını indirebilirsiniz.</h2>
                        <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
                        <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                    <img src="~/Content/assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>

    @RenderBody()

    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>E-Bülten üyelik</h4>
                        <p>Yayınlanan en güncel bilgilerden anında haberim olsun diyorsanız abone olmayı unutmayınız..</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Abone ol">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Doktora Sor ?</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +90 555 55488 55<br>
                            <strong>Email:</strong> info@doktorasor.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Faydalı Linkler</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Ana Sayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Hakkımızda</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Kayıt Ol</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Giriş Yap</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Kullanıcı Sözleşmesi</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Hizmetler</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Doktor Profilleri</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sık Sorulan Sorular</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Özel Soru Sorma</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Genel Soru</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Konum Srama</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Sosyal Medya</h4>
                        <p>Sosyal medya uygulamarında bizi takip etmeyi unutmayınız..</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright @DateTime.Now.Year. <strong><span>Doktora Sor</span></strong> Tüm hakları saklıdır.
            </div>
            <div class="credits">

            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
     

</body>

</html>